# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
.DS_Store
/ios/,
/ios/Pods
/ios/build
ios/Podfile.lock
/android-yodo1-native-bridge/.gradle
android-yodo1-native-bridge/gradle/wrapper/gradle-wrapper.properties
android-yodo1-native-bridge/gradle/wrapper/gradle-wrapper.jar
android-yodo1-native-bridge/gradlew
android-yodo1-native-bridge/gradlew.bat
/android-yodo1-native-bridge/adsbridge/build/intermediates
/android-yodo1-native-bridge/build/reports
